{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  {% comment %}  {% endcomment %}
                <section id="main-content">
                {% comment %}  {% endcomment %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-title">
                                
                                    <div class="inbox-head">
 <h4> Apakah Item tersebut mau dihapus <b>"{{hapus}}"</b> ?</h4>                                       
													<form action="{% url 'deleteitem_admin' hapus.id %}" method="POST">
                    									{% csrf_token %}    
													<br>
                   							 	
													<div class="m-t-20 text-center">
														
                                                         <button type="submit" class="btn btn-primary btn-flat btn-addon m-b-10 m-l-5"><i class="ti-close"></i>HAPUS</button>
                                                        <a href="{% url 'item_admin'  %}" type="button" class="btn btn-danger btn-flat btn-addon m-b-10 m-l-5"><i class="ti-angle-double-left"></i>KEMBALI</a>
													</div>
													</form>
                                    </div>
                                     
                                </div>
                               
                            </div>
                        </div>
                        <!-- /# column -->
                    </div>
                    <!-- /# row -->
                </section>
{% endblock content  %} 