{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Halaman Login e-Arsip</title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
     <link rel="shortcut icon" href="{% static 'assets/images/logo.ico' %}">


    <!-- Styles -->
    <link href="{% static 'assets/css/lib/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/lib/themify-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/lib/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/lib/helper.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
</head>

<body class="bg-primary">

    <div class="unix-login">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="index.html"><span>Halaman Login</span></a>
                        </div>
                        <div class="login-form">
                            <h4>Administratior Login</h4>
                            <form action="" method="POST">
                        {% csrf_token %}
                         <div align="center">
       {% include "alert.html" %}   
       </div> 
                                <div class="form-group">
                                    <label>Username</label>
                                    <input type="text" autofocus="" class="form-control" name="username" required>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" name="password" required>
                                </div>
                                
                                <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Sign in</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>